configs:
  tls:
    # argocd-tls-certs-cm: lets the repo-server pull Helm/OCI charts from lab hosts
    # (Harbor) whose certs come from the lab root CA.
    certificates:
{% for host in argocd_lab_ca_hosts %}
      {{ host }}: |
        {{ lookup('file', role_path + '/../k3s/files/lab-root-ca.crt') | indent(8) }}
{% endfor %}

controller:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        release: kube-prometheus-stack

server:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        release: kube-prometheus-stack

repoServer:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        release: kube-prometheus-stack
  env:
    - name: ARGOCD_ENABLE_GRPC_TIME_HISTOGRAM
      value: "true"

applicationSet:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        release: kube-prometheus-stack

notifications:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        release: kube-prometheus-stack