version: 3

images:
  base_image:
    name: docker.io/redhat/ubi9:latest

dependencies:
  python_interpreter:
    package_system: python3
  
  ansible_core:
    package_pip: ansible-core
  
  ansible_runner:
    package_pip: ansible-runner
  
  system: bindep.txt
  
  python: requirements.txt

  galaxy: requirements.yml



